.vscode/**
.git/**
.github/**
.idea/**
.cursor/**

**/*.map
**/*.ts
src/**
test/**
__tests__/**
coverage/**
dist/**

node_modules/.bin/**

**/tsconfig.json
**/tslint.json
**/.eslintrc*
**/.prettierrc*
**/.prettierignore
**/.editorconfig

examples/**

.gitignore
eslint.config.mts
pnpm-lock.yaml
